*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav li{
    margin-right: 20px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1400px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col2 h1{
    line-height: 60px;
    margin: 20px 0px;
    font-size: 50px;
}
.col2{
    text-align: center;
    flex-basis: 50%;
    min-width: 300px;
}
.col2 img{
    max-width: 100%;
    padding: 50px 0px;
}
.btn{
    background-color:#fed001;
    color: whitesmoke;
    margin: 10px 0px;
    border-radius: 30px;
    padding: 5px 15px;
    display: inline-block;
    transition:0.5s;
}
.btn:hover{
    background-color: yellowgreen;
}
.header{
    background-image: linear-gradient(#fbfdfc,#fbfbfc);
}
.categories{
    margin: 40px 0px;
    min-height: 300px;
}
.col3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    
}
.col3 img{
    width: 100%;
    height: 100%

}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0px 20px;
}
.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    transition: 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    color: dimgray;
    text-align: center;
    margin: 0px auto 80px;
    position: relative;
    line-height: 60px;
}
.title::after{
    content: '';
    display: block;
    width: 200px;;
    height: 3px;
    background: lightsalmon;
    position: absolute;
    bottom: 0;
    left: 40%;
    
}
.col-4:hover{
    transform: translateY(-5px);
}
.rating .fa{
    color: gold;
}
h4{
    color: dimgray;
}
/*-----offer-----*/
#heart{
    color: red;
}
.shrink img{
    transition: 1s ease;
}
.shrink img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;

}
/*--Testimonial----*/
.testimonial{
    padding-top: 50px;
}
.testimonial .col3{
    text-align: center;
    padding: 40px 20px;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}
.testimonial .col3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col3:hover{
    transform: translateY(-10px);
}
.testimonial h4{
    color: black;
}
/*-----BRANDS-----*/
.brands{
    margin: 80px auto;
}
.col-5{
    padding: 0 20px;
    flex-basis: 20%;
    width: 160px;
}
.col-5 img{
    width: 60%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/*--FOOTER--*/
 .Footer{
     background: black;
     color: #8a8a8a;
     font-size: 14px;
     padding: 80px 0 20px;
 }
 .Footer h3{
     color: white;
     margin-bottom: 20px;
 }
 .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
     margin-bottom: 20px;
     min-width: 250px
 }
 .footer-col-1{
     flex-basis: 30%;
 }
 .footer-col-2{
     flex: 1;
     text-align: center;
 }
 .footer-col-2 img{
     width: 40%;
     margin-bottom: 20px;
 }
 .footer-col-3, .footer-col-4{
     flex-basis: 12%;     
     text-align: center;
}
.footer-col-3 ul, .footer-col-4 ul{
    list-style: none;
}
.store{
    margin: 0 20px;
}
.store a{
    line-height: 20px;
    margin: 10px 10px;
}
#apple:hover{
    color: skyblue;
}
#play:hover{
    color: pink;
}
hr{
    background: lightgray;
    margin-bottom: 10px;
}
.copyright{
    text-align: center;
    font-weight: lighter;
}
.menu-icon{
    width: 18px;
    margin-left: 25px;
    display: none;
}
/*---media querry menu---*/
@media only screen and (max-width:800px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background-color: thistle;
        width: 100%;
        overflow: hidden;
        color: white;
        transition: max-height 0.5s;
    }
    nav ul li{
        color: white;
        display: block;
        margin-top: 10px;
        margin-right: 30px;
        margin-bottom: 10px;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/*-----media querry page for less than 600px---*/
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col2,.col3,.col-4{
        flex-basis: 100%;
    }
    th:last-child,td:last-child{
        width: 40%;
    }
}

/*----------All Products------------*/
.products img{
    width: 60%;
}
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid greenyellow;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    padding: 10px;
    border:1px solid plum;
    background: lightgrey;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.page-btn span:hover{
    background: dimgray;
    color: floralwhite;
}
.single-product{
    margin-top: 50px;
}
.single-product .col2 img{
    padding: 0;
}
.single-product .col2{
    padding: 25px;
}
.single-product .col2 select{
    margin-top: 20px;
    padding: 10px;
}
.single-product .col2 input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 10px;
    border:1px solid greenyellow;
}
.single-product input:focus{
    outline: none;
}
.small-container-row{
    display: flex;
    justify-content: space-between;
}
.small-container-col{
    flex-basis: 24%;

}
.small-container-col img{
    cursor: pointer;
    width: 80%;
}
.cart{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-item{
    display: flex;
    flex-wrap: wrap;
}
.cart-item img{
    width: 13%;
}
.info{
    padding-left: 10px;
    align-self: center;
}

th{
    text-align: left;
    padding: 5px 10px;
    color: honeydew;
    background-color:#988ebc;
}
table input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 10px;
    border:1px solid grey;
}
table input:focus{
    outline: none;
}
td{
    padding: 20px 25px;
}
td a{
    color: plum;
}
.cart th:first-child{
    width: 60%;
}
.cart th:last-child{
    text-align: right;
}
.cart td:last-child{
    text-align: right;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #988ebc;
}