*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav li{
    margin-right: 20px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col2 h1{
    line-height: 60px;
    margin: 20px 0px;
    font-size: 50px;
}
.col2{
    text-align: center;
    flex-basis: 50%;
    min-width: 300px;
}
.col2 img{
    max-width: 100%;
    padding: 50px 0px;
}
.btn{
    background-color:#fed001;
    color: whitesmoke;
    margin: 10px 0px;
    border-radius: 30px;
    padding: 5px 15px;
    display: inline-block;
    transition:0.5s;
}
.btn:hover{
    background-color: yellowgreen;
}
.header{
    background-image: linear-gradient(#fbfdfc,#fbfbfc);
}
.categories{
    margin: 40px 0px;
    min-height: 300px;
}
.col3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    
}
.col3 img{
    width: 100%;
    height: 100%

}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0px 20px;
}
.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    transition: 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    color: dimgray;
    text-align: center;
    margin: 0px auto 80px;
    position: relative;
    line-height: 60px;
}
.title::after{
    content: '';
    display: block;
    width: 200px;;
    height: 3px;
    background: lightsalmon;
    position: absolute;
    bottom: 0;
    left: 40%;
    
}
.col-4:hover{
    transform: translateY(-5px);
}
.rating .fa{
    color: gold;
}
h4{
    color: dimgray;
}
/*-----offer-----*/
#heart{
    color: red;
}
.shrink img{
    transition: 1s ease;
}
.shrink img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;

}
/*--Testimonial----*/
.testimonial{
    padding-top: 50px;
}
.testimonial .col3{
    text-align: center;
    padding: 40px 20px;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}
.testimonial .col3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col3:hover{
    transform: translateY(-10px);
}
.testimonial h4{
    color: black;
}
/*-----BRANDS-----*/
.brands{
    margin: 80px auto;
}
.col-5{
    padding: 0 20px;
    flex-basis: 20%;
    width: 160px;
}
.col-5 img{
    width: 60%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/*--FOOTER--*/
 .Footer{
     background: black;
     color: #8a8a8a;
     font-size: 14px;
     padding: 80px 0 20px;
 }
 .Footer h3{
     color: white;
     margin-bottom: 20px;
 }
 .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
     margin-bottom: 20px;
     min-width: 250px
 }
 .footer-col-1{
     flex-basis: 30%;
 }
 .footer-col-2{
     flex: 1;
     text-align: center;
 }
 .footer-col-2 img{
     width: 40%;
     margin-bottom: 20px;
 }
 .footer-col-3, .footer-col-4{
     flex-basis: 12%;     
     text-align: center;
}
.footer-col-3 ul, .footer-col-4 ul{
    list-style: none;
}
.store{
    margin: 0 20px;
}
.store a{
    line-height: 20px;
    margin: 10px 10px;
}
#apple:hover{
    color: skyblue;
}
#play:hover{
    color: pink;
}
hr{
    background: lightgray;
    margin-bottom: 10px;
}
.copyright{
    text-align: center;
    font-weight: lighter;
}